body{
    background-color: black;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    visibility: hidden;
}
button{
    background-color: black;
    border-color: whitesmoke;
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    border: 2px solid whitesmoke;
}
button:hover{
    background-color: whitesmoke;
    color: black;
}