@-webkit-keyframes ani {
    from {border-radius: 10px;}
    to{border-radius: 20px;}
}
@keyframes ani {
    from {border-radius: 10px;}
    to{border-radius: 20px;}
}
body{
    background-color: black;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    visibility: hidden;
}
button{
    background-color: black;
    border-color: whitesmoke;
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    border: 2px solid whitesmoke;
}
button:hover{
    background-color: whitesmoke;
    color: black;
}
.bar{
    border-radius: 10px;
}
.bar:hover{
    -webkit-animation-name:ani;
            animation-name:ani;
    -webkit-animation-duration: 0.25s;
            animation-duration: 0.25s;
    border-radius: 20px;
}
.header{
    text-align: left;
}